# ===============================
# FIREBASE CONFIG
# ===============================
REACT_APP_FIREBASE_API_KEY=AIzaSyCC5FmmuOUuUf_5nhyC2z9B92qe52VP7Rs
REACT_APP_FIREBASE_AUTH_DOMAIN=adimudacup.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=adimudacup
REACT_APP_FIREBASE_STORAGE_BUCKET=adimudacup.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=828980825854
REACT_APP_FIREBASE_APP_ID=1:828980825854:web:2c3a94a45da8b3b91b1faf
REACT_APP_FIREBASE_MEASUREMENT_ID=G-W6CKXEQS5B

# ===============================
# ADMIN
# ===============================
REACT_APP_ADMIN_PASSWORD=adimudataruna2026
